[submodule "collecta-server"]
	path = collecta-server
	url = https://github.com/Robzyy/collecta-server
[submodule "collecta-client"]
	path = collecta-client
	url = https://github.com/Robzyy/collecta-client
