[submodule "Collecta-client"]
	path = Collecta-client
	url = https://github.com/Robzyy/collecta-client
[submodule "Collecta-server"]
	path = Collecta-server
	url = https://github.com/Robzyy/collecta-server
